
<h2>Please write some text to save to your box account</h2>

<%= render 'flash' %>

<%= form_tag(save_file_path, method: :post) do %>
	<p> <%= label_tag 'text to save:' %> </p>
	<p> <%= text_area_tag 'content', nil, rows: 5, cols: 40 %> </p>
	<p> <%= label_tag 'text_file name' %> <%= text_field_tag 'filename' %> </p>
	<p><%= submit_tag 'save file' %></p>
<% end %>
<%= button_to 'logout', sessions_path, method: :delete %>